.home-container {
  padding: 1.5rem;
  font-size: 1rem;
}

.home-search-tags-container {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  margin-bottom: 1rem;
}

.ReactTags__tagInput {
  display: flex !important;
}

.search-logo {
  width: 1rem;
  height: 1rem;
}

.home-search-input {
  border: 0px solid black;
  outline: 0px;
  font-weight: 400;

  font-size: 1rem;
  padding-block: 0.4rem;
  width: 25vw;
}

.home-tag {
  color: white;
  background-color: black;
  border-radius: 100px;
  white-space: nowrap;

  font-size: 1rem;
  padding-block: 0.4rem;
  padding-inline: 0.9rem;
}

.home-tag-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.home-remove-tag {
  color: rgb(139, 139, 139);
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid black;
  padding: 0;
  width: auto;
  height: auto;
  cursor: pointer;

  margin-left: 0.7rem;
}

.add-bookmark-button {
  display: grid;
  place-items: center;
  color: white;
  background-color: black;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 200px;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: fixed;
  z-index: 18;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: 0.2s ease;
}

.add-bookmark-button:hover {
  color: #cacaca;
  background-color: #e7e7e7;
}

.add-bookmark-icon {
  width: 70%;
  height: 70%;
}

.bookmarks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.show-more-button-container {
  display: flex;
  flex-direction: column;
}

.show-more-button {
  align-self: flex-end;
  margin-top: 1.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 0px solid black;
  border-radius: 100px;
  background-color: black;
  margin-bottom: 6rem;
  color: white;
  cursor: pointer;
  transition: 0.15s ease;
}

.show-more-button:hover {
  background-color: rgb(71, 71, 71);
}

.show-more-button:active {
  background-color: black;
}

.empty-state-message {
  display: grid;
  place-items: center;
  width: calc((100vw - 7.5rem) / 4);
  height: calc((100vw - 7.5rem) / 4);
  border: 1px dashed black;
  border-radius: 0.5rem;
  font-size: 1rem;
  position: absolute;
  position: fixed;
  top: max(30vw, 50vh);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  text-align: center;
}

.loading-indicator-container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::placeholder {
  color: #afafaf;
}

@media screen and (max-width: 1024px) {
  .home-container {
    padding: 1rem;
    font-size: 1rem;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .home-search-tags-container {
    gap: 0.8rem;
    margin-bottom: 1rem;
  }

  .search-logo {
    width: 1rem;
    height: 1rem;
  }

  .home-search-input {
    font-size: 1rem;
    padding-block: 0.3rem;
    padding-inline: 0rem;
    width: 20vw;
  }

  .home-tag {
    font-size: 1rem;
    padding-block: 0.3rem;
    padding-inline: 0.8rem;
  }

  .home-remove-tag {
    margin-left: 0.6rem;
  }

  .add-bookmark-button {
    right: 1rem;
    bottom: 1rem;
  }

  .bookmarks-container {
    gap: 1rem;
  }

  .empty-state-message {
    width: calc((100vw - 4rem) / 3);
    height: calc((100vw - 4rem) / 3);
    top: max(42vw, 50vh);
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    padding: 0.8rem;
  }

  .home-search-tags-container {
    margin-bottom: 0.8rem;
  }

  .home-search-input {
    width: 30vw;
  }

  .home-tag-container {
    gap: 0.5rem;
  }

  .home-remove-tag {
    margin-left: 3vw;
  }

  .add-bookmark-button {
    width: 3.8rem;
    height: 3.8rem;
    bottom: 0.8rem;
    right: 0.8rem;
  }

  .empty-state-message {
    width: calc(100vw - 1.6rem);
    height: calc(100vw - 1.6rem);
    padding: 4rem;
    position: static;
    margin-top: 0vw;
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }
}