.home-container {
  margin-top: 8vw;
  padding: 2vw;
}

.home-search-tags-container {
  display: flex;
  align-items: center;

  gap: 0.7vw;
  margin-bottom: 1.5vw;
}

.ReactTags__tagInput {
  display: flex !important;
}

.search-logo {
  width: 1.4vw;
  height: 1.4vw;
}

.home-search-input {
  border: 0px solid black;
  outline: 0px;
  font-weight: 400;

  font-size: 1.2vw;
  padding-block: 0.4vw;
  width: 10vw;
}

.home-tag {
  color: white;
  background-color: black;
  border-radius: 100px;
  white-space: nowrap;

  font-size: 1.2vw;
  padding-block: 0.4vw;
  padding-inline: 1vw;
}

.home-tag-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7vw;
}

.home-remove-tag {
  color: rgb(139, 139, 139);
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid black;
  padding: 0;
  width: auto;
  height: auto;
  cursor: pointer;

  margin-left: 0.7vw;
}

.add-bookmark-button {
  display: grid;
  place-items: center;
  color: white;
  background-color: black;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 200px;
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  position: fixed;
  z-index: 18;
  bottom: 2vw;
  right: 2vw;
  font-size: 1.4vw;
  transition: 0.2s ease;
}

.add-bookmark-button:hover {
  color: #cacaca;
  background-color: #e7e7e7;
}

.bookmarks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.show-more-button-container {
  display: flex;
  flex-direction: column;
}

.show-more-button {
  align-self: flex-end;
  font-size: 1.2vw;
  margin-top: 1.5vw;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 0px solid black;
  border-radius: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.15s ease;
}

.show-more-button:hover {
  background-color: rgb(71, 71, 71);
}

.show-more-button:active {
  background-color: black;
}

.bookmark-full-view {
  position: absolute;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: white;
}

.add-first-bookmark-message {
  display: grid;
  place-items: center;
  width: calc(90vw / 4);
  height: calc(90vw / 4);
  border: 1px dashed black;
  border-radius: 0.5rem;
  font-size: 1.2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw;
  text-align: center;
}

::placeholder {
  color: #afafaf;
}

@media screen and (max-width: 1024px) {
  .home-container {
    margin-top: 12vw;
    padding: 2vw;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .home-search-tags-container {
    gap: 1vw;
  }

  .search-logo {
    width: 2.2vw;
    height: 2.2vw;
  }

  .home-search-input {
    font-size: 1.8vw;
    padding-block: 0.4vw;
    width: 20vw;
  }

  .home-tag {
    color: white;
    background-color: black;
    border-radius: 100px;
    white-space: nowrap;

    font-size: 1.8vw;
    padding-block: 0.4vw;
    padding-inline: 1.5vw;
  }

  .home-tag-container {
    gap: 1vw;
  }

  .home-remove-tag {
    margin-left: 1vw;
  }

  .add-bookmark-button {
    width: 7vw;
    height: 7vw;
    font-size: 4vw;
  }

  .add-first-bookmark-message {
    width: calc(92vw / 3);
    height: calc(92vw / 3);
    font-size: 1.8vw;
    padding: 4vw;
  }

  .show-more-button {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    margin-top: 25vw;
    padding: 4vw;
  }

  .home-search-tags-container {
    gap: 3vw;
    margin-bottom: 4vw;
  }

  .search-logo {
    width: 5vw;
    height: 5vw;
  }

  .home-search-input {
    font-size: 4vw;
    width: 30vw;
    padding-block: 0.4vw;
    padding-inline: 0;
  }

  .home-tag {
    color: white;
    background-color: black;
    border-radius: 100px;
    white-space: nowrap;

    font-size: 4vw;
    padding-block: 1.5vw;
    padding-inline: 4vw;
  }

  .home-tag-container {
    gap: 3vw;
  }

  .home-remove-tag {
    margin-left: 3vw;
  }

  .add-bookmark-button {
    color: white;
    background-color: black;
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 200px;
    width: 16vw;
    height: 16vw;
    position: fixed;
    z-index: 18;
    bottom: 4vw;
    right: 4vw;
    font-size: 8vw;
    transition: 0.2s ease;
  }

  .add-first-bookmark-message {
    width: 92vw;
    height: 92vw;
    padding: 8vw;
    font-size: 4vw;
    position: static;
    margin-top: 8vw;
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }

  .show-more-button {
    font-size: 4vw;
    margin-bottom: 20vw;
  }
}
