.landing-container {
  width: 100vw;
  height: 100vh;
  background: url("../assets/grid-bg.svg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.landing-navbar-logo {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.landing-navbar-text {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin-top: -0.5rem;
}

.landing-auth-button-container {
  display: flex;
  gap: 1.5rem;
}

.landing-auth-secondary-button {
  font-size: 1rem;
  width: 11rem;
  height: 2.7rem;
  border: 1px solid #e7e7e7;

  border-radius: 100px;
  color: black;
  background-color: white;

  transition: 0.2s ease;
}
.landing-auth-secondary-button:hover {
  background-color: #f7f7f7;
}

.landing-auth-primary-button {
  font-size: 1rem;
  width: 11rem;
  height: 2.7rem;
  border: 1px solid black;

  border-radius: 100px;
  background-color: black;
  color: white;

  transition: 0.2s ease;
}
.landing-auth-primary-button:hover {
  background-color: rgb(83, 83, 83);
  border: 1px solid rgb(83, 83, 83);
}

.landing-modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  place-items: center;
  margin-top: 8.5rem !important;

  gap: 1.5rem;
  margin: 1.5rem;
}

.landing-modal {
  width: calc((100vw - 7.5rem) / 4);
  height: calc((100vw - 7.5rem) / 4);
  border: 1px solid #e7e7e7;
  background-color: white;

  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 0.5rem;

  overflow-wrap: break-word;
  word-wrap: break-word;

  transition: 0.1s ease;
}
.landing-modal:hover {
  border: 1px solid #d5d5d5;
}

.landing-modal-caption {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #717171;
}

.navbar-logo {
  width: 120px;
  height: 30px;
}

.landing-reel-container {
  padding-top: 20vh;
  display: grid;
  place-items: center;
}

.landing-reel-header {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

video {
  width: 70vw;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e7e7e7;
  margin-bottom: 5rem;
}

br {
  display: none;
}

button {
  cursor: pointer;
}

.landing-demo-reels {
  height: fit-content;
  width: fit-content;
  margin-top: 7rem !important;

  padding-inline: 1.4rem;
  padding-block: 0.7rem;

  font-size: 1rem;
  border: 1px solid #e7e7e7;

  border-radius: 100px;
  color: black;
  background-color: white;

  transition: 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .landing-container {
    width: auto;
    height: auto;
    background: none;
  }

  .landing-navbar {
    padding: 1rem;
  }

  .landing-navbar-logo {
    font-size: 1.2rem;
  }

  .landing-navbar-text {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 0rem;
  }

  .landing-auth-button-container {
    gap: 1rem;
  }

  .landing-modal-container {
    gap: 1rem;
    margin: 1rem;
    margin-top: 5rem !important;
  }

  .landing-modal {
    width: calc((100vw - 3rem) / 2);
    height: calc((100vw - 3rem) / 2);
    font-size: 1rem;
  }

  .landing-modal-caption {
    font-size: 0.9rem;
  }

  .landing-auth-secondary-button,
  .landing-auth-primary-button {
    font-size: 1rem;
    height: 5vw;
    width: 14vw;
  }

  br {
    display: block;
  }

  .navbar-logo {
    width: 100px;
    height: 25px;
  }

  .landing-demo-reels {
    display: none !important;
  }

  .landing-reel-container {
    display: grid;
    place-items: center;
    padding-top: 7rem;
  }

  .landing-reel-header {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.6px;
    margin-bottom: 0.5rem;
  }

  video {
    width: calc(100vw - 2rem);
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid #e7e7e7;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .landing-navbar {
    display: block;
    padding: 0.8rem;
  }

  .landing-auth-button-container {
    display: flex;
    margin-block: 1rem;
    gap: 0.8rem;
  }

  .landing-auth-secondary-button,
  .landing-auth-primary-button {
    font-size: 1rem;
    height: 2.7rem;
    width: 50%;
  }

  .landing-modal-container {
    height: auto;
    gap: 0.8rem;
    margin: 0.8rem !important;
  }

  .landing-modal {
    width: calc(100vw - 1.6rem);
    height: calc(100vw - 1.6rem);

    font-size: 1rem;
    padding: 1rem;

    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .landing-reel-container {
    display: grid;
    place-items: center;
  }

  .landing-reel-header {
    text-align: center;
    margin-inline: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.6px;
    margin-bottom: 0.5rem;
  }

  video {
    width: 100vw;
    height: 100%;
    border-radius: 0px;
    border: 0px solid black;
    margin-bottom: 5rem;
  }
}
