h4 {
  font-weight: 600;
}

.navbar-container {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.1rem;
}

.navbar-navigation {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(85, 85, 85, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  padding-inline: 1.4rem;
  padding-block: 0.9rem;
  gap: 1rem;
}

.navbar-profile-icon {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.navbar-nav-selected {
  color: black;
}

.navbar-nav-deselected {
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.1s ease;
}
.navbar-nav-deselected:hover {
  color: rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1024px) {
  .navbar-container {
    font-size: 1rem;
    padding: 1rem;
  }
  
  .navbar-navigation {
    padding-block: 0.8rem;
    padding-inline: 1.2rem;
    gap: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar-container {
    padding: 0.8rem;
  }

  .navbar-profile-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
